.error {
  /*margin: 0 auto;*/
  text-align: center;
  margin-top: 100px;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 15px;
  color: #647788;
  padding-left: 10px;
  padding-right: 10px;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-35 {
  margin-top: 35px!important;
}
