
.no-margin {
  margin: 0!important;
}
.margin-top-10 {
  margin-top: 10px!important;
}

.jumbotron-flat {
  background-color: solid #4DB8FFF;
  height: 100%;
  border: 1px solid #4DB8FF;
  background: white!important;
  width: 100%;
  text-align: center;
  overflow: auto;
  padding: 10px!important;
}

.paymentAmt {
  font-size: 48px;
}

.text-align-center {
  text-align: center;
}
