.square-debugg-paypal {
  background-color: blue;
}
.fa-cog {
  color: white;
}
.paypal-btn-cstm {
  width: 100%;
  height: 45px;
}
@media screen and (max-width: 992px) {
  .paypal-btn-cstm {
    width: 100%;
  }
}
.paypal-logo {
  display: table;
  margin: 0 auto;
  /*float: left;*/
  background-image: url("./images/paypal-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 300px;
}

.paypal-logo-container {
  /*border: 1px solid red!important;*/
  width: 100%;
  height: 100px;
}
