.App {
  /*text-align: center;*/
}

.App-logo {
  height: 80px;
}

code {
  color: #e73a37;
}

.no-margin {
  margin: 0!important;
}

.margin-top-60 {
  margin-top: 100px!important;
}

.border-custom {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 20px;
}
.no-margin-bottom {
  margin-bottom: 0px!important;
}
.no-margin-top {
  margin-top: 0px!important;
}
